---
title: Proof of concept
---

<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description"
          content="An example site where we use eleventy to build the static assets before parcel handles the bundling.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    {#    <link rel="manifest" href="site.webmanifest">#}
    {#    <link rel="apple-touch-icon" href="icon.png">#}
    <!-- Place favicon.ico in the root directory -->

    <meta name="theme-color" content="#fafafa">

    <script src="~scripts/app.ts" defer></script>

    <link rel="stylesheet" href="~styles/all.scss">
</head>

<body>
<div class="content">
    <div class="container">
        <h1 class="title" data-controller="log">{{ title }}</h1>

        {{ content | safe }}
    </div>
</div>

</body>

</html>